


/*****************************GRID**********************/

.grid {

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 450px 400px 100%;

}




.header {

  background-image: url('./planeHeader.jpg');
  grid-column: 1/3;

}

.greeting {
  color: rgb(237, 100, 100);
  padding-left: 20px;
}

.about {
  margin-right: 1000px;
  padding-left: 30px;
}


.form {
  background-color:white;
  padding: 5px;
  padding-left: 50px;

}


.records {

  grid-column: 2/2;
  grid-row: 2/4;
}

.eachRecord {
  height: 120px;
  width: 80%;
  outline: auto;
  outline-width: 1px;

}






/****************************FLIGHT RECORD CARDS********************************/

.pilot {
  margin-top: 10px;
  outline: auto;
  outline-width: 1px;
  font-style: italic;
  font-family: "Lucida Console", Courier, monospace;
}

.duration {
  margin-top: 10px;
  font-family: "Lucida Console", Courier, monospace;
}

.instructor {
  font-family: "Lucida Console", Courier, monospace;
}

.timeOfDay {
  font-family: "Lucida Console", Courier, monospace;
}

.tailNumber {
  padding-left: 475px;
  font-family: "Lucida Console", Courier, monospace;
}

.type {
  padding-left: 500px;
  font-family: "Lucida Console", Courier, monospace;
}





/*******************FORM**************************/

.submit {
  margin-left: 80px;
  border-radius: 5px;
}

.inputBox {
  border-radius: 5px;
}

.formTitles {
  margin-left: 10px;
}

.formDuration {
  margin-left: 5px;
}

.formInstructor {
  margin-left: 20px;

}

.instructorTotals {
  margin-right: 150px;
  text-align: center;
}








/****************SUMMARY********************/

.summaryBox {
  outline: auto;
  margin-left: 20px;
  /* margin-right: 20px; */
}

.centerBox {
  align-content: center;
  padding-left: 50px;
}



.summaryTitle {
  padding-left: 40px;
  /* text-align: center; */
}



.titles {
  margin-left: 40px;
  margin-right: 140px;
  outline-style: auto;
  padding-left: 30px;
  /* text-align: center; */
}

.totals {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;


}


.totalsWeather {
  /* padding-left: 3px; */
  padding-top: 10px;
  padding-bottom: 10px;

}


.totalHours {
  padding-left: 110px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.titlesInstructor {
  margin-left: 40px;
  margin-right: 140px;
  outline-style: auto;
  padding-left: 50px;

}















/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */





/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */